<%- include('../partials/header') %>

<body class="indexBody">
  <div class="indexTitle">
    <h1>Koreatown:</h1>
    <h2>From All-Around The World!</h2>
  </div>
    <ul class="articleList">
      <% articles.forEach(function(t) { %>
        <li class="listItem">
          <% if (t.user.equals(user && user._id)) { %>

            <form action="/articles/<%= t._id %>?_method=DELETE"
              class="delete-form" method="POST">
              <button type="submit">X</button>
            </form>
          <% } %>
          <div class="articleLink">
          <a href="/articles/<%= t.id %>" ><%= t.title %></a>
          <img  class="listImage" src="<%= t.image %>" alt="Korea Town Logo">
        </div>
        </li>
      <% }); %>
    </ul>

    
</body>
</html>