<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/show.css' />

</head>

<body>
    <a href="/">Home</a>
    <a href="/articles" class="brand-logo left">Koreatowns</a>

 
    <section id="show-page">

        <div id="article-title"><%= articles.title %></div>
        <div><%= articles.article %></div>
        <br>
        <br>
        <% if (articles.user.equals(user && user._id)) { %>
        <a href="/articles/<%= articles._id %>/edit">Edit Article</a>
        <% }; %>

        <br>
        <br>
        <h2>New Comment</h2>
        <form id="add-review-form" method="POST" action="/articles/<%= articles._id %>/comments">
            <label>Comment:</label>
            <textarea name="content"></textarea>
            <label>Interest:</label>
            <select name="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <input type="submit" value="Add Comment">
        </form>
    </section>
    <br>
    <br>

<section id="comments-section">
    <% if (articles.comments.length) { %>
        <table>

          <thead>
            <tr>

              <th>Date</th>
              <th>Comment</th>
              <th>Interest</th>
              <th></th>
              <th></th>

            </tr>

          </thead>

          <tbody>

            <% let total = 0 %>
            <% articles.comments.forEach(function(c) { %>
                <% total += c.rating %>

              <tr>
                <td><%= c.createdAt.toLocaleDateString() %></td>
                <td><%= c.content %></td>
                <td><%= c.rating %></td>

                <% if (c.user.equals(user && user._id)) { %>

                  <!-- thisis the edit comment link -->
                  <td><a href="/articles/<%= articles._id %>/comments/edit">Edit Comment</a></td>

                  <!-- this is the comment delete button -->
                  <td><form action="/articles/<%= user._id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                  </form></td>

                  <% }; %>
             
                </tr>

            <% }); %>

            <tr>
              <td colspan="2"></td>
              <td><strong><%= (total / articles.comments.length).toFixed(1) %></strong></td>
            </tr>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Reviews Yet</h5>
      <% } %>
  

</section>

</body>

</html>